:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-vark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body{
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
}

.header {
    max-width: 1440px;
    margin: auto;
}

.menu{
    border-bottom: 3px solid var(--light-grayish-blue);
    margin-right: 35px;
    margin-left: 35px;
}

.header ul {
    height: 70px;
    line-height: 70px;
    list-style-type: none;
}

.header li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}

.header .logo {
    margin-right: 20px;
    /* margin-left: 0; */
}

.header a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    display: block;
}

.space {
    width: 550px;
}

.avatar {
    height: 45px;
    vertical-align: middle;
}

#product-details-page > div{
    margin: auto;
    margin-top: 2.5%;
    width: 85%;
}

#product-details-page .product-main-image img{
    width: 25rem;
    border-radius: 10px;
}

.product-details , .product-main-image  {
    display: inline-block;
}

#product-details-page .product-details {
    width: 660px;
    vertical-align: top;
    padding: 3rem 0rem 1.8rem 5rem;
}

.product-details > * {
    margin:20px
}

.product-details h5{
    color: var(--orange);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
}

.product-details h1{
    font-size: 45px;
    color: var(--black);
    font-weight: 700;
}

.product-details p{
    font-size: 16px;
    font-weight: 400;
    color: var(--black) ;
}

.product-details .price *{
    font-weight: 700;
}
.product-details .price .after-discount{
font-size: 19px;
}

.product-details .price .discount-precentage{
background-color: var(--pale-orange);
color: var(--orange);
margin: 10px;
padding: 5px;
font-size: 14.5px;
}

.product-details .price .before-discount{
color: var(--dark-grayish-blue);
font-size: 14.5px;
display: block;
margin-top: 15px;
}

.product-details .product-cart span{
    padding: 12px;
    background-color: var(--light-grayish-blue);
}

.product-details .product-cart span img{
    width: 1.5%;
}

.btn{
    padding: .6rem 2.5rem;
    border-radius: 5px;
    text-align: center;
}
.product-details .product-cart a{
  text-decoration: none;
  color: var(--light-grayish-blue);
  background-color: var(--orange);
  font-weight: 700;
  margin-left: 20px;
}

.product-details .product-cart a img{
width: 3%;
margin-right: 5px;
} 

#product-details-page .product-images{
width: 25rem
}

#product-details-page .product-images img{
    width: 83px;
    border-radius: 5px;
    margin-right: .8rem;

    }