:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-vark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    font-family: 'Kumbh Sans', sans-serif;
}

.header {
    max-width: 1440px;
    margin: auto;
}

.menu {
    border-bottom: 3px solid var(--light-grayish-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-left: 30px;
    margin-right: 30px;
}

.header li {
    display: inline-block;
    margin: 0 13px;
}

.header a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

.avatar {
    height: 50px;
    vertical-align: middle;
    z-index: 88;
}

ul {
    margin: auto;
}

section {
    padding: 4% 5%;
    display: grid;
    grid-template-columns: auto auto;
}

.product-images {
    display: flex;
    flex-direction: column;
}

.product-details,
.product-images {
    width: 45vw;
}

.product-main-image img,
.product-preview-images {
    width: 43vw;
}

.product-main-image img {
    height: 65vh;
    object-fit: cover;
    border-radius: 10px;
}

.product-preview-images {
    display: flex;
}

.product-preview-images img {
    width: 10vw;
    border-radius: 5px;
    object-fit: cover;
    flex: 1;
    margin-right: 10px;
}

.product-preview-images img:last-child {
    margin-right: 0px;
}


.product-details {
    padding-top: 2.5rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}

.product-details h5 {
    color: var(--orange);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 20px;
}

.product-details h1 {
    width: 500px;
    font-size: 40px;
    color: var(--black);
    font-weight: 700;
}

.product-details p {
    font-size: 15px;
    font-weight: 400;
    color: var(--black);
    margin-top: 20px;
    margin-bottom: 20px;
}

.price {
    margin-bottom: 20px;
}

.after-discount {
    font-weight: 700;
    font-size: 18px;
}

.discount-precentage {
    font-weight: 700;
    background-color: var(--pale-orange);
    color: var(--orange);
    margin: 10px;
    padding: 5px;
    font-size: 13.5px;
}

.before-discount {
    font-weight: 700;
    color: var(--dark-grayish-blue);
    font-size: 13.5px;
    display: block;
    margin-top: 15px;
}

.minus,
.plus {
    padding: .7rem 1rem;
    background-color: var(--light-grayish-blue);
    border: none;
    cursor: pointer;
}

.minus img {
    width: 80%;
}

.plus img {
    width: 80%;
}

.product-cart input {
    display: inline-block;
    border: none;
    width: 40px;
    padding: .7rem;
    outline: none;
    background-color: var(--light-grayish-blue);
    font-weight: 700;
    text-align: center;
}

.add-to-cart {
    text-decoration: none;
    color: var(--light-grayish-blue);
    background-color: var(--orange);
    font-weight: 700;
    margin-left: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
    padding: .6rem 2rem;
    border-radius: 5px;
    text-align: center;
}

.add-to-cart img {
    width: 17%;
    margin-right: 15px;
}

/* mobile */

.mobile-view {
    display: none;
}

.fa-bars {
    cursor: pointer;
}

.toggleMenu {
    display: none;
}

.mobile-nav-links ul {
    background-color: white;
    width: 100vw;
    position: absolute;
    top: 73px;
    left: 10px;
}

.mobile-nav-links li {
    margin: 10px;
    display: block;
}

.mobile-nav-links a {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 25px;
}



@media (max-width: 1200px) {

    section {
        grid-template-columns: auto;
    }

    .product-images {
        flex-direction: row;
    }

    .product-preview-images {
        flex-direction: column;
    }

    .product-main-image img,
    .product-preview-images {
        height: 70vh;
    }

    .product-details {
        width: 80vw;
    }

    .product-main-image img {
        width: 75vw;
        margin-right: 10px;
    }

    .product-preview-images img {
        height: 15vh;
        margin-bottom: 5px;
        flex: 1;
    }

    .product-preview-images img:last-child {
        margin-bottom: 0px;
    }

}

@media (max-width: 800px) {

    .mobile-view {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .product-images {
        flex-direction: column;
    }

    .product-preview-images {
        flex-direction: row;
    }

    .product-main-image img,
    .product-preview-images,
    .product-details {
        width: 85vw;
    }

    .product-main-image img
    {
        height: 65vh;
    }
    .product-preview-images {
        height: 15vh;
    }

    .product-details{
        padding-left: 0px;
    }

}